<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before <br> Starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>03:00</td>  <td><a href="https://carpentries-incubator.github.io/machine-learning-novice-sklearn/index.html">Welcome and workshop overview</a></td> </tr>
      <tr> <td>03:15</td>  <td><a href="https://carpentries-incubator.github.io/machine-learning-novice-sklearn/01-introduction.html">Introduction to Machine Learning</a></td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Setting Up the Python Environment and Exploring Data</td> </tr>
      <tr> <td>05:20</td>  <td>Wrap-up & <a href="https://forms.gle/YbDsT5W5FM2VQ26t8">Outgoing Survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>03:00</td>  <td>Recap of Day 1</td> </tr>
      <tr> <td>03:10</td>  <td>Wrap-up & <a href="https://carpentries-incubator.github.io/machine-learning-novice-sklearn/02-regression.html#regression">Supervised Learning: Regression with Scikit-Lear</a></td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Hands-on coding session</td> </tr>
      <tr> <td>05:20</td>  <td>Wrap-up & <a href="https://forms.gle/RYdrBHehWvhsqGyc9">Outgoing Survey</a></td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>03:00</td>  <td>Supervised methods - classification</td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Hands-on coding session</td> </tr>
      <tr> <td>05:25</td>  <td>Wrap-up & <a href="https://forms.gle/C91THkng7AtsmEsB9">Outgoing Survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>03:00</td>  <td>Unsupervised methods - clustering</td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Hands-on coding session</td> </tr>
      <tr> <td>05:25</td>  <td>Wrap-up & <a href="https://forms.gle/cwriMTdFvVmUWomGA">Outgoing Survey</a></td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>03:00</td>  <td>Unsupervised methods - dimensionality reduction</td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Hands-on coding session</td> </tr>
      <tr> <td>05:25</td>  <td>Wrap-up & <a href="https://forms.gle/aD7NrJQ3rq169hdo9">Outgoing Survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 6</h3>
    <table class="table table-striped">
      <tr> <td>03:00</td>  <td>Neural Networks</td> </tr>
      <tr> <td>04:00</td>  <td>Break</td> </tr>
      <tr> <td>04:15</td>  <td>Hands-on coding session</td> </tr>
      <tr> <td>05:20</td>  <td>Wrap-up & <a href="https://forms.gle/gtGnuPDgcxQ5zH7Q8">Outgoing Survey</a></td> </tr>
      <tr> <td>END</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
